@import "@/assets/fonts/stylesheet.css";

@font-face {
	font-family: 'New_Zelek';
	src: url('@/assets/fonts/NewZelek/NewZelek.ttf');
	font-weight: 600;
}

@font-face {
	font-family: 'Marko One';
	src: url('@/assets/fonts/Marko_One/MarkoOne-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Open_Sans';
	src: url('@/assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Martel_Sans-bold';
	src: url('@/assets/fonts/Martel_Sans/MartelSans-Bold.ttf');
	font-weight: 700;
}

@font-face {
	font-family: 'Martel_Sans-light';
	src: url('@/assets/fonts/Martel_Sans/MartelSans-Light.ttf');
	font-weight: 700;
}









